<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;ScrollView </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.MainActivity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/main&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center_horizontal&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!-- Título --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/Titulo&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#EEF6AD&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Calculadora&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Espaço --&gt;</span>
        <span class="s0">&lt;View</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;16dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Primeiro Número --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/labelPrimeiro&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Digite o Primeiro Número:&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textNumero1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Número 1&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;numberDecimal&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#F5F5F5&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Segundo Número --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/labelSegundo&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Digite o Segundo Número:&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;EditText</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textNumero2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:hint</span><span class="s2">=&quot;Número 2&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;numberDecimal&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#F5F5F5&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Espaço --&gt;</span>
        <span class="s0">&lt;View</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;24dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Linha 1: Somar e Subtrair --&gt;</span>
        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;8dp&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnSomar&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Somar&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#4CAF50&quot; </span><span class="s0">/&gt; </span><span class="s4">&lt;!-- Verde --&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnSub&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Subtrair&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#F44336&quot; </span><span class="s0">/&gt; </span><span class="s4">&lt;!-- Vermelho --&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s4">&lt;!-- Linha 2: Multiplicar e Dividir --&gt;</span>
        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnMultiplicar&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Multiplicar&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#2196F3&quot; </span><span class="s0">/&gt; </span><span class="s4">&lt;!-- Azul --&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnDividir&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot;</span>
                <span class="s1">android:layout_margin</span><span class="s2">=&quot;4dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Dividir&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#FF9800&quot; </span><span class="s0">/&gt; </span><span class="s4">&lt;!-- Laranja --&gt;</span>
        <span class="s0">&lt;/LinearLayout&gt;</span>

        <span class="s4">&lt;!-- Espaço --&gt;</span>
        <span class="s0">&lt;View</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;24dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s4">&lt;!-- Resultado --&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/labelResultado&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#BEDEFF&quot;</span>
            <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Resultado...&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;18sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000000&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/ScrollView&gt;</span>
</pre>
</body>
</html>